/* FONT DEDIEE */

@font-face {
    font-family: "Akrobat-Regular";
    src:    url('../fonts/Akrobat-Regular.otf') format("otf"),
            url('../fonts/akrobat-regular-webfont.ttf') format("ttf"),
            url('../fonts/akrobat-regular-webfont.woff') format("woff");
}
@font-face {
    font-family: "Akrobat-Bold";
    src:    url('../fonts/Akrobat-Bold.otf') format("otf"),
            url('../fonts/akrobat-bold-webfont.ttf') format("ttf"),
            url('../fonts/akrobat-bold-webfont.woff') format("woff");
}
@font-face {
    font-family: "Akrobat-SemiBold";
    src:    url('../fonts/Akrobat-SemiBold.otf') format("otf"),
            url('../fonts/akrobat-semibold-webfont.ttf') format("ttf"),
            url('../fonts/akrobat-semibold-webfont.woff') format("woff");
}
@font-face {
    font-family: "Akrobat-ExtraBold";
    src:    url('../fonts/Akrobat-ExtraBold.otf') format("otf"),
            url('../fonts/akrobat-extrabold-webfont.ttf') format("ttf"),
            url('../fonts/akrobat-extrabold-webfont.woff') format("woff");
}

/* STYLE GENERAL */

* {
    box-sizing: border-box;
}

body {
    font-family: "Akrobat-Bold", Arial, sans-serif;
    margin: 0px;
}

img {
    width: 100%;
}

.header, .footer {
    font-family: "Akrobat-Bold", Arial, sans-serif;
    background-color: #00385b;
    color: white;
}

.m {
    width: 50%;
}

h2 {
    color: #bc9856;
    font-size: 3em;
}

h3 {
    font-family: "Akrobat-ExtraBold", Arial, sans-serif;
    font-size: 1.8em;
}


h5 {
    font-family: "Akrobat-SemiBold", Arial, sans-serif;
}

h6 {
    font-family: "Akrobat-ExtraBold", Arial, sans-serif;
    color: #00385b;
}

p {
    font-family: "Akrobat-Regular", Arial, sans-serif;
}

hr {
    background-color: #bc9856;
    height: 20px;
}

a {
    color: white;
}

.btn {
    background-color: #bc9856;
    color: white;
    width: 100%;
}

.form-control {
    background-color: #00385b;
    color: white;
}

.form-control::placeholder {
    color: white;
    opacity: 1;
}

#photo {
    min-height: 60vh;
    background: url('../img/BALTHAZAR_V4.jpg') 50% 35%;
    background-color: #00385bab;
    background-blend-mode: soft-light;
}

.logo {
    width: 60%;
    height: 60%;
}

.logoBati {
    color: #00385b;
    background-color: white;
    border-radius: 10px;
}

.logoBati img {
    width: 70%;
}

