/* FONT DEDIEE */

@font-face {
    font-family: "Akrobat-Regular";
    src: url("../fonts/Akrobat-Regular.otf") format("otf"),
}
@font-face {
    font-family: "Akrobat-Bold";
    src: url("../fonts/Akrobat-Bold.otf") format("otf"),
}
@font-face {
    font-family: "Akrobat-SemiBold";
    src: url("../fonts/Akrobat-SemiBold.otf") format("otf");
}
@font-face {
    font-family: "Akrobat-ExtraBold";
    src: url("../fonts/Akrobat-ExtraBold.otf") format("otf"),
}

/* STYLE GENERAL */

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Akrobat-Bold', Arial, sans-serif;
    margin: 0px;
}

img {
    width: 100%;
}

.header, .footer {
    background-color: #00385b;
    color: white;
}

.m {
    width: 50%;
}

h2 {
    color: #bc9856;
}

h3 {
    font-family: "Akrobat-ExtraBold", Arial, sans-serif;
    font-size: 1.5em;
}

h5 {
    font-family: "Akrobat-SemiBold", Arial, sans-serif;
}

h6 {
    font-family: "Akrobat-ExtraBold", Arial, sans-serif;
    color: #00385b;
}

p {
    font-family: "Akrobat-Regular", Arial, sans-serif;
}

hr {
    background-color: #bc9856;
    height: 20px;
}

.btn {
    background-color: #bc9856;
    color: white;
    width: 100%;
}

.form-control {
    background-color: #00385b;
    color: white;
}

input::placeholder {
    color: white;
}

#photo {
    min-height: 60vh;
    background: url(../img/BALTHAZAR_V4.jpg) 50% 35%;
    background-color: #00385b;
    background-blend-mode: overlay;
}

.logo {
    width: 60%;
    height: 60%;
}

.logoBati {
    color: #00385b;
    background-color: white;
    border-radius: 10px;
}

.logoBati img {
    width: 70%;
}

.batisseur {
    font-size: small;
}